
<div class="container">

  <div>
    <p>Enter a <strong>city</strong>, <strong>number of guests</strong> or <strong>both</strong> to start exploring!</p>
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Start exploring..."
      %>
      <%= submit_tag "Search flats", class: "btn btn-general" %>
    <% end %>
  </div>

  <div class="d-flex p-2">
    <div class="cards">
      <% @flats.each do |flat| %>
        <div class="card-product d-flex p-2">
            <%= cl_image_tag flat.photos.first.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <div class="rooms-prices">
                <h3>
                  <div class="address-link"><%= link_to flat.address, flat_path(flat)%>, </div> <div class="size-12px"><%=flat.city%></div>
                </h3>
                 <p> Bedrooms: <strong><%= flat.rooms%></strong>  <br>
                 Price/night: <strong>£<%= flat.price%></strong></p>
              </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="w-50 " style="height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

  <div class="d-flex justify-content-center">
      <%= link_to "Create a new flat", new_flat_path(@flat), class: "btn btn-general" %>
  </div>
</div>
