<h1>Flats</h1>


<ol>
  <% @flats.each do |flat| %>
    <li> <%= flat.address%>, <%=flat.city%>
      <br> <p> <%= flat.rooms%> bedrooms </p>
      <br> <p> £<%= flat.price%> per night </p>
    </li>
  <% end %>
</ol>

<%= link_to "New flat", new_flat_path(@flat) %>
