
<h1 padding=5px>RBNB</h1>
<h2 padding=5px>Available Flats</h2>
<div class="d-flex p-2">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-product d-flex p-2">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded img-fluid " style="height: 300px, width: 300px">
          <div class="card-product-infos">
            <div>
              <h3>
                <%= link_to flat.address, flat_path(flat)%>, <%=flat.city%>
              </h3>
              <br> <p> <%= flat.rooms%> bedrooms
              <br> £<%= flat.price%> per night </p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <div class="w-50 " style="height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
 
</div>

<div class="d-flex justify-content-center">
    <%= link_to "Create a new flat", new_flat_path(@flat), class: "btn-ghost" %>
</div>
