<div class="container">
  <div class="d-flex justify-content-between pt-4 pb-3">
    <div>
      <h2> <%= User.find(@flat.user_id)[:first_name]%>'s Place</h2>
      <h3> <%=@flat.city%> </h3>
    </div>
    <div class="align-self-end border">
      <div class="border">
        <p class="text-align-right"> <%= @flat.rooms%> bedrooms
        <br> £<%= @flat.price%> per night </p>
      </div>
      <p> <%= link_to "Request to stay at #{User.find(@flat.user_id)[:first_name]}'s place", new_flat_booking_path(@flat) %></p>
    </div>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @flat.photos.each do |photo| %>
      <div class="carousel-item active">
        <p class="d-flex justify-content-center"> <%= cl_image_tag(photo.key, width: 500, crop: :fill)%></p>
      </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <i class="fas fa-arrow-left" aria-hidden="true"></i>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <i class="fas fa-arrow-right" aria-hidden="true"></i>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="w-50 " style="height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
