<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>


<h2> <%= @flat.address%>, <%=@flat.city%> </h2>
<br> <p> <%= @flat.rooms%> bedrooms </p>
<br> <p> £<%= @flat.price%> per night </p>
<% @flat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<br>
<%= link_to "See my bookings", flat_bookings_path(@flat) %>
<br>
<%= link_to "New booking", new_flat_booking_path(@flat) %>
