<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Review booking request for <%= @flat.address %></h2>
      <h3><%= @booking.start_time %> - <%= @booking.end_time %></h3>
    </div>
    <div class="card-body">
      <%= simple_form_for [@flat, @booking] do |f| %>
        <div class="form-group form-inputs">
          <%= f.input :start_time %>
          <%= f.input :end_time%>
          <%= f.label :status %>
          <%= f.input :status, collection: ["pending", "accepted", "rejected"], wrapper: false %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Submit", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .card {
    border: 1px solid #ccc;
    padding: 20px;
  }
  .card-header {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
</style>
