<h1>Bookings for: <strong><%=@flat.address%></strong> </h1>

<ul>
  <% @flat.bookings.each do |booking| %>
    <li> <%= User.find(booking.user_id)[:email] %>
    <%= booking.start_date%> - <%= booking.end_time%>
    </li>
  <% end %>
</ul>

<%= link_to "New booking", new_flat_booking_path(@flat) %>
