<div class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80", class: "me-2" %>
      <div class="d-flex flex-column">
        <span class="fw-bold" style="font-size: 30px; line-height: 1; color : #ffff;margin-left: 30px">RBNB</span>
        <span class="text-muted" style="font-size: 20px; line-height: 1; color : #ffff;margin-left: 30px">Rent your flat: make money!</span>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
      
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-dropdown", data: { toggle: "dropdown" } %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">

<li>
  <%= link_to "Bookings", flat_bookings_path(@flat.id), class: "dropdown-item" %>
</li>
<li>
  <%= link_to "My Bookings", user_bookings_path(current_user.id), class: "dropdown-item" %>
</li>
<li>
  <%= link_to "Account Settings", edit_user_registration_path(current_user.id), class: "dropdown-item" %>
</li> 



            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Rent your flat", new_flat_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <style>
.navbar {
  background-color: hsl(0, 83%, 67%);
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.container-fluid{
  background-color: hsl(0, 83%, 67%);
}
.navbar-brand img {
  width: 70px;
}

.navbar-brand .flex-column {
  margin-left: 10px;
}

.nav-link {
  color: #0d6efd;
  margin-left: 20px;
}

.nav-link:hover {
  color: #0d6efd;
  text-decoration: underline;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #0d6efd;
}

@media (max-width: 768px) {
  .navbar-brand img {
    width: 50px;
  }
}
</style>


<script>

window.addEventListener("scroll", function () {
  const navbar = document.querySelector(".navbar-lewagon");
  if (navbar) {
    if (window.scrollY >= 200) {
      navbar.classList.add("navbar-lewagon-scroll");
    } else {
      navbar.classList.remove("navbar-lewagon-scroll");
    }
  }
});


  </script>

